* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.page-section{
    display: none;
    padding: 2rem;
    min-height: 80vh;
}

.page-section.active{
    display: block;
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

nav{
    background: #333;
    color: #fff;
    padding: 1rem;
 
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;

}

nav a {
    color: white;
    text-decoration: none;
}